<html lang="en">
<%- include ('./partials/head.ejs') %>
<%- include ('./partials/navbar.ejs') %>
<body class="w-full h-screen text-white bg-slate-900">
    <div class="w-full h-full">
        <div class="bg-slate-900 flex flex-col justify-center w-full items-center">
            <h1 class="text-slate-100 ml-6 mb-10 text-3xl mt-2">Displaying user profile</h1>

            <% if (user && user.user_id) { %>
                <div class="max-w-sm border  hover:border-red-400 hover:border-4 border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <img src="<%= user.image_url ? user.image_url : '/images/default-image.svg' %>" alt="user image" class="w-full h-32 rounded">                                   
                    <div class="p-5">                    
                        <h1 class="text-red-700"><%= user.first_name +' '+user.last_name %></h1>
                        <p class="text-cyan-800">@<%= user.username%></p>
                        <p><%= user.email%></p>
                    </div>
                </div>
                <div class="flex flex-row mt-4 p-4">
                    <h1 class="text-slate-200">
                        
                        <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">
                            <a href="/users/<%= user.user_id %>/edit">                        
                            Update User
                            </a>
                        </button>
                    </h1>
                    <h1 class="text-slate-200 ml-6">
                        <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                            <a href="/users/<%= user.user_id %>/delete">                        
                                Delete User
                            </a>
                        </button>
                    </h1>

                </div>
            <% } else { %>
                <div class="animate-pulse flex flex-col items-center w-full">
                    <div class="max-w-sm border border-gray-200 rounded-lg shadow dark:border-gray-700 bg-slate-800">
                        <div class="w-full h-32 bg-slate-700 rounded"></div>
                        <div class="p-5 space-y-3">
                            <div class="h-6 bg-slate-700 rounded"></div>
                            <div class="h-6 bg-slate-700 rounded w-5/6"></div>
                            <div class="h-6 bg-slate-700 rounded w-4/6"></div>
                        </div>
                    </div>
                    <div class="mt-4 flex space-x-4">
                        <button class="bg-blue-700 rounded text-white p-2">Update User Skeleton</button>
                        <button class="bg-red-700 rounded text-white p-2">Delete User Skeleton</button>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <%- include ('./partials/footer.ejs') %>   
</body>
</html>
